ion-content {
  --background: var(--ion-color-primary);
}

.services-list {
  margin: 1rem 0;
  width: 100%;

  &__header {
    margin: 0 auto;
    width: 95%;
    border-radius: 6px 6px 0 0;
    background: var(--ion-color-primary-shade);
    border-bottom: 1px solid var(--ion-color-secondary-shade);
    box-shadow: 2px 6px 8px 1px rgba(0, 0, 0, 0.28);
    display: grid;
    grid-template-columns: 6fr 2fr;
    padding: 0 10px;
    &__amount {
      grid-row: 1;
      grid-column: 2;
      align-content: center;
      justify-self: right;
      margin: 5px;
      div {
        border-radius: 6px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--ion-color-primary);
        color: var(--ion-color-secondary);
      }
    }
    &__title {
      align-self: center;
      grid-row: 1;
      grid-column: 1;
      padding: 7px 5px;
      font-size: 0.75rem;
      color: var(--ion-color-secondary-tint);
    }
  }
  .detail-list {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    border-radius: 0 0 6px 6px;
    background: var(--ion-color-primary-tint);
    padding: 10px;
    box-shadow: 2px 6px 8px 1px rgba(0, 0, 0, 0.28);
    &__item {
      width: 100%;
      padding: 0.4rem 0 0.4rem;
      border-bottom: 1px solid var(--ion-color-primary);
      position: relative;
      &__picture {
        border-radius: 50px;
        width: 70px;
        height: 70px;
        margin: 0 auto;
      }
      ion-icon {
        color: var(--ion-color-secondary);
        position: relative;
        top: 2px;
      }
      ion-icon.dropdown {
        position: absolute;
        right: 10px;
        top: 10px;
      }
      label {
        color: var(--ion-color-primary-contrast);
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.75rem;
        margin-left: 0.4rem;
        span {
          font-size: 0.7rem;
          color: var(--ion-color-tertiary);
          margin-right: 10px;
          position: relative;
          top: -1px;
        }
      }
      &__sublist {
        padding: 5px;
        border: 1px solid var(--ion-color-primary);
        border-radius: 5px;
        margin: 10px;
        background: var(--ion-color-primary-shade);

        &__item {
          font-size: 0.75rem;
          color: var(--ion-color-primary-contrast);
          display: grid;
          grid-template-columns: 8fr 1fr;
          border-top: 1px solid var(--ion-color-primary);
          padding: 8px 0;

          &:first-child {
            border-top: none;
          }
          div {
            grid-column: 1;
            padding: 5px;
            span {
              font-size: 0.7rem;
              color: var(--ion-color-tertiary);
              margin-right: 5px;
              position: relative;
              top: -1px;
            }
          }
          ion-button {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column: 2;
            margin: 0 !important;
            text-transform: uppercase;
            font-size: 0.8rem;
            ion-icon {
              position: initial !important;
            }
          }
        }
      }
    }
    &:last-of-type {
      label {
        text-transform: capitalize;
      }
    }
    ion-button {
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: initial;
      margin-top: 10px;
      width: 100%;
      ion-icon {
        position: relative;
        top: 1px;
      }
    }
  }
}
.profile-img {
  position: relative;
  width: 95%;
  margin: 0 auto;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  height: 200px;
  box-shadow: 2px 6px 8px 1px rgba(0, 0, 0, 0.28);
  border-bottom: 1px solid var(--ion-color-secondary-shade);
  img {
    width: 100%;
  }
  .zoomBtn {
    background: var(--ion-color-primary);
    padding: 3px;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    right: 14px;
    font-size: 1.5rem;
    color: var(--ion-color-secondary-shade);
  }
}
.signature-pad-container {
  text-align: center;
  padding-top: 6px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  canvas {
    border-radius: 6px;
  }
}

.rotate-element-180 {
  transform: rotate(180deg);
  transition-timing-function: ease-in-out;
  transition: 0.6s;
}
.rotate-element-0 {
  transform: rotate(0deg);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
}
.ion-icon-button{
  position: absolute!important;
  right: 9px;
  top: 5px!important;
  background: var(--ion-color-primary);
  padding: 4px;
  border-radius: 4px;
}