<app-header *ngIf="lan" title='{{lan.servicioalojamiento.servicioalojamiento}}'></app-header>
<ion-content>
  <div class="services-list animacion-entrada" *ngIf="accomodation">
    <div class="services-list__header">
      <div class="services-list__header__title">
        {{accomodation.hotel}}
      </div>
      <div class="services-list__header__amount">
        <div>
          <ion-icon ios="business-outline" md="business-sharp" style="font-size: .6rem;"></ion-icon>
        </div>
      </div>
    </div>
    <div class="detail-list">
      <div class="detail-list__item">
        <ion-icon name="time"></ion-icon>
        <label><span>({{lan.servicioalojamiento.desde}})</span>{{accomodation.fechaDesde | date: 'mediumDate'}} |
          {{accomodation.horaDesde | date: 'mediumTime'}}</label>
      </div>
      <div class="detail-list__item">
        <ion-icon name="timer"></ion-icon>
        <label><span>({{lan.servicioalojamiento.hasta}})</span>{{accomodation.fechaHasta | date: 'mediumDate'}} |
          {{accomodation.horaHasta | date: 'mediumTime'}}</label>
      </div>

      <div class="detail-list__item">
        <ion-icon name="enter"></ion-icon>
        <label><span>({{lan.servicioalojamiento.checkInAnterior}})</span>{{accomodation.checkInAnticipado}}</label>
      </div>
      <div class="detail-list__item">
        <ion-icon name="exit"></ion-icon>
        <label><span>({{lan.servicioalojamiento.checkOutPosterior}})</span>{{accomodation.checkOutPosterior}}</label>
      </div>
      <div class="detail-list__item">
        <ion-icon name="bed"></ion-icon>
        <label><span>({{lan.servicioalojamiento.cama}})</span>{{accomodation.tipoCama}}</label>
      </div>

      <div class="detail-list__item">
        <ion-icon name="pizza"></ion-icon>
        <label><span>({{lan.servicioalojamiento.comidas}})</span>{{accomodation.incluyeComidas}} | {{accomodation.cantidadComidas}}</label>
      </div>

      <div class="detail-list__item">
        <ion-icon name="add-circle"></ion-icon>
        <label><span>({{lan.servicioalojamiento.extras}})</span>{{accomodation.incluyeExtras}}</label>
      </div>

      <div class="detail-list__item">
        <ion-icon name="alert"></ion-icon>
        <label><span>({{lan.servicioalojamiento.estado}})</span>{{accomodation.estado}}</label>
      </div>



      <div class="detail-list__item">
        <ion-icon name="people"></ion-icon>
        <label><span>{{lan.serviciotraslado.tripulante}}</span>{{accomodation.cantidadTripulantes}}</label>
        <ion-icon class="dropdown" name="caret-down-outline" (click)="sublist = !sublist"
          [ngClass]="{'rotate-element-180':  sublist,'rotate-element-0': !sublist}">
        </ion-icon>
        <div class="detail-list__item__sublist" *ngIf="sublist">
          <div class="detail-list__item__sublist__item" *ngFor="let tripulantes of accomodation.tripulantes">
            <div><span>{{lan.serviciotraslado.nombre}}</span> {{tripulantes.nombre}}</div>
            <div><span>{{lan.serviciotraslado.dni}}</span> {{tripulantes.documento}}</div>
            <ion-button color="primary" class="services-list__grid__buttonDetail" mode="ios"
              (click)="gotoTripulante(tripulantes)">
              <ion-icon name="information"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>

      <div class="detail-list__item">
        <ion-icon name="chatbox"></ion-icon>
        <label>{{lan.general.sincomentarios || accomodation.observacion}}</label>
      </div>


      <ion-button color="tertiary" class="" mode="ios" (click)="gotoBitacora()">
        <ion-icon name="mail-unread" style="font-size: .85rem; margin-right: 5px;color:var(--ion-color-danger-shade)"
          *ngIf="accomodation.bitacoraNuevo"></ion-icon>
        <ion-icon name="mail" style="font-size: .85rem; margin-right: 5px;" *ngIf="!accomodation.bitacoraNuevo">
        </ion-icon>
        {{lan.serviciotraslado.bitacora}}
      </ion-button>
      <ion-button color="primary" class="" mode="ios" (click)="backbtn()">
        <ion-icon name="chevron-back"></ion-icon>
        {{lan.general.volver}}
      </ion-button>
    </div>
  </div>
</ion-content>


<app-footer *ngIf="lan"></app-footer>